.jumbotron
    background: url('https://data.kitware.com/api/v1/file/551477eb8d777f3f5edf4c6a/download') no-repeat center center

.monkeybrains-download-dataset
    margin-left 40%

.g-collection-infopage-markdown

    img
        width 150px
        height 150px
        margin 4px

    img[alt="14monthsT2axial header"]
        width 250px
        height 250px
        margin 10px 10px 10px 100px

    img[alt="DTI header"]
        width 250px
        height 250px
        margin 10px

    img[alt="8monthsT1saggital header"]
        width 250px
        height 250px
        margin 10px

    th
        text-align center


