.g-collection-infopage
    .g-collection-infopage-header
        a.monkeybrains-download-dataset.btn.btn-primary(href="https://data.kitware.com/api/v1/folder/54b582d88d777f4362aa9cb5/download")
            i.icon-download
            | Download the full dataset
    .g-collection-infopage-markdown
    .g-collection-infopage-gantt
